body {
    background-image: url("../img/vecteezy_filmstrip_1195073.webp");
    background-position: bottom;
}
section {
    text-align: center;
}
.text-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    display: inline-block;
}
h1 {
    color: rgb(60, 179, 113);
    font-size: 70px;
    font-weight: bold;
    margin-bottom: 18px;
}
p {
    font-size: 30px;
    padding-bottom: 18px;
}
.slider-container {
    position: relative;
}

.slider-container img{
    width: 100%;
    border-radius: 30px;
    border: 3px solid white;
    box-shadow: 20px 10px 10px;
}
i.fas {
    font-size: 40px;
    color: rgb(60, 179, 113);
}
.dots-container {
    width: 100%;
    text-align: center;
}
.fa-dot-circle {
    color: rgb(60, 179, 113);
    margin: 10px;
    position: relative;
    bottom: 100px;
}
i.color {
    color: white;
}